@model FroumSite.Models.RoomViewModel

@{
    ViewData["Title"] = $"تالار های موضوع {Model.SubjectName}";
}



<h1>@Model.SubjectName</h1>

@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
 *@

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">@Model.SubjectName - @Model.Rooms.Count تالار</th>
            <th scope="col">تاپیک</th>
            <th scope="col">آخرین تاپیک</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rooms)
        {



            <tr class="table-success">
                <th scope="row">
                    <a href="/Topics/Index/@item.Id">
                        @item.Title
                    </a>
                </th>

                <td>@item.Topics.Count</td>
                <td>
                    @if (item.Topics.Count == 0)
                    {
                        <span class="text-danger">
                            در این تالار هیچ تاپیکی وجود ندارد
                        </span>
                    }
                    else
                    {
                        <div>
                            @item.Topics.Last().Title
                        </div>
                        <div>
                            <span>
                                توسط:
                            </span>
                            <span>
                                @Model.Topics.Where(t => t.RoomId == item.Id).Last().Uploader.Name
                            </span>
                        </div>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>