@using System.Security.Claims;
@model TopicViewModel


@{
    ViewData["Title"] = "تاپیک ها";

}


<h1 class="mb-3">تاپیک های تالار @Model.Room.Title</h1>
<div>
    <a class="btn btn-success m-3" asp-action="SubjectDetails" asp-controller="Home" asp-route-id="@Model.Room.SubjectId">
        بازگشت
    </a>
</div>

<div>
    @if (User.Identity.IsAuthenticated)
    {
        @* asp - action = "Create" asp - controller = "Topics" asp - route - id = "@Model.Room.Id" *@
        <a class="btn btn-primary m-3" href="#" onclick="CreateTopic(@Model.Room.Id)">
            ایجاد تاپیک جدید در این تالار
        </a>
    }
    else
    {
        <a class="btn btn-primary m-3" asp-action="Login" asp-controller="Account">
            ایجاد تاپیک جدید در این تالار
        </a>
    }
</div>


@* <a class="btn btn-primary m-3" id="btnCreateTopic" data-url="@Url.Action("Create", "Topics", new { id = Model.Room.Id })">
    ایجاد تاپیک جدید در این تالار
</a> *@


<table class="table table-hover table-bordered table-striped table-success">
    <thead class="thead-light">
        <tr>
            <th class="col-2" scope="col">@Model.Room.Title - @Model.TopicsIncludedPosts.Count تالار</th>
            <th class="col-2" scope="col">تعداد پست ها</th>
            <th class="col-8" scope="col">آخرین پست</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TopicsIncludedPosts)
        {
            <tr >
                <th scope="row">
                    <a href="/Topics/Details/@item.Id">
                        @item.Title
                    </a>
                </th>
                @{
                    int postsCount = item.Posts.Count;
                }
                <td>@postsCount</td>
                <td>
                    @if (postsCount == 0)
                    {
                        <span class="text-danger">
                            در این تاپیک ، هیچ پستی وجود ندارد
                        </span>
                    }
                    else
                    {
                        <div>
                            <a asp-action="Details" asp-controller="Posts" asp-route-id="@item.Posts.Last().Id">
                                @item.Posts.Last().Caption
                            </a>

                        </div>
                        <span>
                            <span>
                                توسط:
                            </span>
                            @{
                                var uploader = Model.PostsIncludedUsers
                                .Where(p => p.TopicId == item.Id)
                                .Last()
                                .User;

                                var uploaderFullName = uploader.Name + " " + uploader.Family;

                                var uploaderId = uploader.Id;
                            }
                            <a asp-action="Details"
                               asp-controller="Users"
                               asp-route-id="@uploaderId">

                                @uploaderFullName




                            </a>


                        </span>

                    }


                    @if (User.Identity.IsAuthenticated)
                    {

                        int userId = int.Parse(User
                        .Claims
                        .FirstOrDefault(x =>
                        x.Type == ClaimTypes.NameIdentifier)?
                        .Value);

                        //bool isTopicCreatedByUser = userId == item.UserId;

                        if (userId == item.UserId)
                        {
                            <span>
                                |
                            </span>
                            <button class="btn btn-danger"
                               onclick="DeleteTopic(@item.Id)">حذف</button>

                            <span>
                                |
                            </span>
                            <button class="btn btn-success"
                                    onclick="EditTopic(@item.Id)">
                                    ویرایش
                            </button>
                        }
                    }

                </td>

            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="createTopicModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="body">
                <!-- Modal body content will be loaded dynamically -->
            </div>
        </div>
    </div>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


    <script>
        function Login() {
            $.ajax(
                {
                    url: "/Account/Login",
                    type: "GET",
                    data: {}
                }
            ).done(function (result) {
                $('#Modal').modal('show');
                $('#body').html(result);
            });
        }

        function CreateTopic(id) {
            $.ajax(
                {
                    url: "/Topics/Create/" + id,
                    type: "GET",
                    data: {}
                }
            ).done(function (result) {
                $('#Modal').modal('show');
                $('#body').html(result);
            });
        }

        function DeleteTopic(id) {
            $.ajax(
                {
                    url: "/Topics/DeleteTopicByUser/" + id,
                    type: "GET",
                    data: {}
                }
            ).done(function (result) {
                $('#Modal').modal('show');
                $('#body').html(result);
            });
        }

        function EditTopic(id) {
            $.ajax(
                {
                    url: "/Topics/EditTopicByUser/" + id,
                    type: "GET",
                    data: {},
                    error: function (xhr, status, error) {
                        if (xhr.status === 401) {
                            alert("شما باید وارد حساب کاربری خود شوید یا ثبت نام کنید")
                }
            ).done(function (result) {
                $('#Modal').modal('show');
                $('#body').html(result);
            });
        }
    </script>


}