@model Post
@{
    ViewData["Title"] = "حذف تاپیک";
}



<form>

    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.User) : @Html.DisplayFor(model=>model.User)

    </label>



    <textarea disabled class=" form-control">
        @Html.DisplayNameFor(model=>model.Caption) : @Html.DisplayFor(model=>model.Caption)
    </textarea>


    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.UploadDate) : @Html.DisplayFor(model=>model.UploadDate)
    </label>


    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.LikeCount) : @Html.DisplayFor(model=>model.LikeCount)
    </label>


    <h3 class="bg-danger text-white p-2 mb-2 mt-2 col-6">
        آیا می خواهید پست بالا حذف شود ؟
    </h3>

    <input type="submit" id="btnConfirmDelete" class="btn btn-danger" value="بله" />
    <a class="btn btn-success" data-dismiss="modal">خیر</a>
</form>

@section Scripts{
    <script>
        $(document).ready(function () {
            // $("#ali").fadeOut(10000);

            $("#btnConfirmDelete").click(function (e) {
                $.ajax({
                    type: "POST",
                    url: "/Topics/ConfirmDeletePostAsync",
                    data: {},
                    success: function (response) {

                    }
                });
            });

        });
    </script>
}