@using FroumSite.Utilities;
@using FroumSite.Models.ViewModels;
@using System.Security.Claims;
@model ShowTopicAndSavePostViewModel

@{
    ViewData["Title"] = "Details";
}

<div class=" row col-12 mb-3 border " style="border-radius:20px">
    <div class="col-3 p-3" style="background-color:#fff3e0;">
        <a asp-action="Details" asp-controller="Users"
           asp-route-id="@Model.TopicIncludedUploader.User.Id">
            @Model.TopicIncludedUploader.User.Name
        </a>

        <div>
            @($"تاریخ عضویت : {Model.TopicIncludedUploader.User.RegisterDate.ToShamsi()}")
        </div>

        <div>
            @($"تعداد پست های کاربر : {Model.PostsCountUploadedByUser} ")
        </div>
    </div>
    <div class="col-9 p-3">
        <div>
            <h4>عنوان : @Model.TopicIncludedPosts.Title</h4>
        </div>
        <div>
            <span class="text-muted card-subtitle">
                @Model.TopicIncludedPosts.Posts.Count پست
            </span>
        </div>

        <hr />

        <div>
            @Model.TopicIncludedPosts.Description
        </div>
        <hr />

        <div class="text-right">
            @{
                if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-sm" asp-action="LikeTopic" asp-route-id="@Model.TopicIncludedUploader.Id">
                        @if (Model.IsTopicLikedByUser)
                        {
                            <h3>&#9829;</h3>
                        }
                        else
                        {
                            <h3>&#9825;</h3>
                        }
                    </a>
                }
            }

        </div>

        <div class="text-muted card-subtitle text-sm-right">
            @Model.TopicIncludedPosts.LikeCount لایک
        </div>

        <div class="text-muted text-sm-right">
            آپلود شده در تاریخ @Model.TopicIncludedPosts.UploadDate.ToShamsi()
        </div>
    </div>

</div>


@foreach (var item in Model.TopicIncludedPosts.Posts)
{
    <div class="col-12 border p-1 mb-3" style="border-radius:20px">
        <div class="col-md-3" style="background-color:#fce4ec">

            @{

                var uploader = Model.Users.FirstOrDefault(u => u.Id == item.UserId);
                var uploaderFullName = uploader.Name + " " + uploader.Family;
                var uploaderId = uploader.Id;
            }
            <span>توسط :</span>
            <a asp-action="Details"
               asp-controller="Users"
               asp-route-id="@uploaderId">

                @uploaderFullName

            </a>

        </div>
        <div class="col-md-9">
            @item.Caption
        </div>

        <div class="text-right">
            @{
                if (User.Identity.IsAuthenticated)
                {
                    <a class="btn btn-sm" asp-action="LikePost" asp-route-id="@item.Id">
                        @{
                            int userId = int.Parse(User.Claims
                                        .FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)?
                                        .Value);

                            var isPostLikedByUser = Model.Context.UserLikePosts
                                                    .Any(u => u.UserId == userId && u.PostId == item.Id);

                            if (isPostLikedByUser)
                            {
                                <h3>&#9829;</h3>
                            }
                            else
                            {
                                <h3>&#9825;</h3>
                            }
                        }
                    </a>
                }
            }
        </div>

        <div class="text-sm-right text-muted">
            @item.LikeCount لایک
        </div>

        <div class="text-muted text-sm-right">
            @item.UploadDate.ToShamsi()
        </div>

    </div>
    @* note : hr tag doesnt work in div *@
}




<form asp-action="SavePost" method="post">

    <fieldset>
        <div class="form-group">
            <textarea class="form-control" asp-for="Caption" rows="3">

            </textarea>
        </div>
    </fieldset>
    <fieldset>
        <input type="submit" value="ثبت" />
    </fieldset>

</form>

@* <div class="row">
    <div class="border-0 mb-3 row col-md-12" >
        <div class="col-md-3 border-secondary mb-3 row-cols-md-6" >

            <div>
                <a href="https://google.com">@Model.Uploader.Name</a>
            </div>
            <div class="row">
                <div>عضویت : </div>
                <div>@Model.Uploader.RegisterDate.ToShamsi()</div>
            </div>
            <div class="row">
                <div>تعداد پست ها : </div>
                <div>@Model.Uploader.SharedPosts.Count</div>
            </div>

        </div>
        <div class="col-md-9  border-secondary mb-3" >
            <h4 class="-header -title">
                <span>
                    عنوان
                </span>
                <span>
                    @Model.Title
                </span>
            </h4>
            <h6 class="-subtitle mb-2 text-muted">
                <span>
                    @Model.Posts.Count
                </span>
                <span>
                    پست
                </span>
            </h6>

            <hr />
            <div>
                @Model.Description
            </div>
        </div>
    </div>

    @foreach (var item in Model.Posts)
    {
        <div>
            @item.Caption
        </div>
        <div>
            @item.LikeCount
        </div>
        <div>
            @item.UploadDate
        </div>
    }

    <form>

        <fieldset>
            <div class="form-group">
                <label for="exampleTextarea">نمونه محدوده متن</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
        </fieldset>

    </form>

</div>
 *@