@using FroumSite.Utilities;
@model FroumSite.Areas.Admin.Models.ViewModels.TopicsViewModel


@{
    ViewData["Title"] = "جزییات تاپیک";
    Layout = null;
}

<div>

    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.Title) : @Html.DisplayFor(model=>model.Title)

    </label>



    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.Description) : @Html.DisplayFor(model=>model.Description)
    </label>


    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.UploaderName) : @Html.DisplayFor(model=>model.UploaderName)
    </label>


    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.RoomName) : @Html.DisplayFor(model=>model.RoomName)
    </label>




    <input type="button" class="btn btn-success" data-dismiss="modal" value="بازگشت">
    <input type="button" class="btn btn-primary" onclick="showPopupModal('@Url.Action("Edit","Topics",new {id = Model.Id},Context.Request.Scheme)','ویرایش تاپیک','true')" value="ویرایش">
    <input type="button" class="btn btn-danger" onclick="showPopupModal('@Url.Action("Delete","Topics",new {id = Model.Id},Context.Request.Scheme)','حذف تاپیک','true')" value="حذف">
</div>

