@using System.Security.Claims;
<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap4/css/bootstrap-rtl.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Custom.css" />
    
</head>
<body class="rtl" style="font-family:Sahel,sans-serif">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">انجمن</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 justify-content-end" id="nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <span class="navbar-brand mb-0 h1">
                                    سلام @User.Identity.Name عزیز
                                </span>
                            </li>
                            if (User.Claims.FirstOrDefault(x => x.Type == "IsAdmin")?.Value == "True")
                            {
                                <a class="btn btn-success text-white mr-3 ml-3" style=" float: left; " asp-area="Admin" asp-controller="Home" asp-action="Index">پنل ادمین</a>

                            }
                            <li>
                                <a class="btn btn-danger text-white mr-3 ml-3" style=" float: left; "  onclick="signOut()">خروج از حساب کاربری</a>
                            </li>


                        }
                        else
                        {
                            
                            <li>
                                <a onclick="showPopupModal('@Url.Action("Login","Account",null,protocol:Context.Request.Scheme)','ورود به سایت')"
                                   class="btn btn-primary text-white mr-3 ml-3"
                                   style=" float: left; ">
                                    ورود
                                </a>
                            </li>

                            <li>
                                <a onclick="showPopupModal('@Url.Action("Register","Account",null,protocol:Context.Request.Scheme)','ثبت نام')"
                                    class="btn btn-info text-white mr-3 ml-3" style=" float: left;" >ثبت نام</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    
    <div class="modal fade" tabindex="-1" role="dialog" id="form-modal">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="centered-modal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>


    <div class="loaderbody" id="loaderbody">
        <div class="loader"></div>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
