@using FroumSite.Utilities;
@model User


@{
    ViewData["Title"] = "جزییات کاربر";
    Layout = null;
}

<div>

    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.Name) : @Html.DisplayFor(model=>model.Name)

    </label>

    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.Family) : @Html.DisplayFor(model=>model.Family)
    </label>


    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.PhoneNumber) : @Html.DisplayFor(model=>model.PhoneNumber)
    </label>


    <label class=" form-control">

        @Html.DisplayNameFor(model=>model.Sex) : 
        @{
            if (Model.Sex == FroumSite.Models.Enums.Sex.Male)
            {
                <span>مرد</span>
            }
            else
            {
                <span>زن</span>
            }
        }
    </label>

    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.RegisterDate) : @Model.RegisterDate.ToShamsi()
    </label>

    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.Birthday) : @(DateTime.Now.Year - Model.Birthday.Year) سال
    </label>



    <input type="button" class="btn btn-success" data-dismiss="modal" value="بازگشت">
    <input type="button" class="btn btn-primary" onclick="showPopupModal('@Url.Action("Edit","Users",new {id = Model.Id},Context.Request.Scheme)','ویرایش کاربر','true')" value="ویرایش">
    <input type="button" class="btn btn-danger" onclick="showPopupModal('@Url.Action("Delete","Users",new {id = Model.Id},Context.Request.Scheme)','حذف کاربر','true')" value="حذف">
</div>

