@using FroumSite.Utilities;
@model FroumSite.Areas.Admin.Models.ViewModels.PostsViewModel


@{
    ViewData["Title"] = "جزییات پست";
    Layout = null;
}

<div>

    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.Caption) : @Html.DisplayFor(model=>model.Caption)

    </label>



    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.LikeCount) : @Html.DisplayFor(model=>model.LikeCount)
    </label>


    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.UploaderName) : @Html.DisplayFor(model=>model.UploaderName)
    </label>


    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.TopicTitle) : @Html.DisplayFor(model=>model.TopicTitle)
    </label>

    <label class=" form-control">
        @Html.DisplayNameFor(model=>model.UploadDate) : @Model.UploadDate.ToShamsi()
    </label>

    <input type="button" class="btn btn-success" data-dismiss="modal" value="بازگشت">
    <input type="button" class="btn btn-primary" onclick="showPopupModal('@Url.Action("Edit","Posts",new {id = Model.Id},Context.Request.Scheme)','ویرایش پست','true')" value="ویرایش">
    <input type="button" class="btn btn-danger" onclick="showPopupModal('@Url.Action("Delete","Posts",new {id = Model.Id},Context.Request.Scheme)','حذف پست','true')" value="حذف">
</div>

