@using FroumSite.Utilities;
@model FroumSite.Areas.Admin.Models.ViewModels.RoomsViewModel


@{
    ViewData["Title"] = "جزییات تالار";
    Layout = null;
}

<div>
    
        <label class=" form-control">
            @Html.DisplayNameFor(model=>model.RoomTitle) : @Html.DisplayFor(model=>model.RoomTitle)

        </label>



        <label class=" form-control">
            @Html.DisplayNameFor(model=>model.SubjectTitle) : @Html.DisplayFor(model=>model.SubjectTitle)
        </label>



    <input type="button" class="btn btn-success" data-dismiss="modal" value="بازگشت">
    <input type="button" class="btn btn-primary" onclick="showPopupModal('@Url.Action("Edit","Rooms",new {id = Model.Id},Context.Request.Scheme)','ویرایش تالار','true')" value="ویرایش">
    <input type="button" class="btn btn-danger" onclick="showPopupModal('@Url.Action("Delete","Rooms",new {id = Model.Id},Context.Request.Scheme)','حذف تالار','true')" value="حذف">

</div>

