@using FroumSite.Utilities;
@model FroumSite.Areas.Admin.Models.ViewModels.RoomsViewModel


@{
    ViewData["Title"] = "جزییات تالار";
}

<div>
    
        <label class=" form-control">
            @Html.DisplayNameFor(model=>model.RoomTitle) : @Html.DisplayFor(model=>model.RoomTitle)

        </label>



        <label class=" form-control">
            @Html.DisplayNameFor(model=>model.SubjectTitle) : @Html.DisplayFor(model=>model.SubjectTitle)
        </label>


       

    <a class="btn btn-success" asp-controller="Home" asp-action="Rooms" >بازگشت</a>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">ویرایش</a>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">حذف</a>
</div>

